<launch>
  <!-- <include file="sensor.launch"/> -->
  <!-- <include file="$(find robot_localization)/launch/navsat_transform_template.launch"/> -->
  <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node" respawn="true" output="screen">
    <param name="yaw_offset" value="0"/>
    <param name="zero_altitude" value="true"/>
    <param name="publish_filtered_gps" value="false"/>
    <param name="broadcast_utm_transform" value="true"/>
    <param name="use_odometry_yaw" value="false"/>

    <param name="wait_for_datum" value="false"/>
    <rosparam param="datum">[35.048577, 135.779580, 125.900000, map, base_link]</rosparam>
  </node>

  <node pkg="tf2_ros" type="static_transform_publisher" name="bl_imu" args="0 0 0 0 0 0 1 base_link base_imu_link" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="bl_gps" args="0 0 0 0 0 0 1 base_link gps" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="bl_hokuyo3d" args="0 2 0 0 0 0 1 base_link hokuyo3d" />
<!--
  <node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf" clear_params="true">
    <param name="output_frame" value="odom"/>
    <param name="freq" value="30.0"/>
    <param name="sensor_timeout" value="1.0"/>
    <param name="odom_used" value="true"/>
    <param name="imu_used" value="true"/>
    <param name="vo_used" value="false"/>
    <param name="debug" value="false"/>
    <param name="self_diagnose" value="false"/>
    <remap from="odom" to="/odometry/gps"/>
  </node>
-->

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization" clear_params="true">
    <param name="frequency" value="30"/>
    <param name="sensor_timeout" value="0.1"/>
    <param name="two_d_mode" value="true"/>

    <param name="map_frame" value="map"/>
    <param name="odom_frame" value="odom"/>
    <param name="base_link_frame" value="base_link"/>
    <param name="world_frame" value="odom"/>

    <param name="odom0" value="/odometry/gps"/>
    <param name="imu0" value="/imu/data"/>

    <rosparam param="odom0_config">[true,  true,  false,
                                    false, false, false,
                                    false, false, false,
                                    false, false, false,
                                    false, false, false]</rosparam>

    <rosparam param="imu0_config">[false, false, false,
                                   true,  true,  true,
                                   false, false, false,
                                   true,  true,  true,
                                   true, true, true]</rosparam>

    <param name="odom0_differential" value="false"/>
    <param name="imu0_differential" value="false"/>

    <param name="imu0_remove_gravitational_acceleration" value="true"/>

    <param name="print_diagnostics" value="false"/>
  </node>

  <node name="mapper" type="dynamic_mapper" pkg="ethzasl_icp_mapper" output="screen" >

		<param name="subscribe_scan" value="false"/>
		<param name="subscribe_cloud" value="true"/>

		<remap from="cloud_in" to="/hokuyo3d/hokuyo_cloud2"/>

		<param name="icpConfig" value="$(find ethzasl_icp_mapper)/cfg/icp_dynamic.yaml" />
		<param name="inputFiltersConfig" value="$(find ethzasl_icp_mapper)/cfg/input_filters.yaml" />
		<param name="mapPostFiltersConfig" value="$(find ethzasl_icp_mapper)/cfg/map_post_filters.yaml" />


		<param name="odom_frame" value="/hokuyo3d"/>
		<param name="map_frame" value="/map" />

		<param name="useROSLogger" value="false" />
		<param name="inputQueueSize" value="1" />
		<param name="tfRefreshPeriod" value="0.005" />
		<param name="minOverlap" value="0.2" />
		<param name="maxOverlapToMerge" value="0.99" />
		<param name="minReadingPointCount" value="1000" />
		<param name="minMapPointCount" value="10000" />
		<param name="localizing" value="true" />
		<param name="mapping" value="true" />

		<param name="priorStatic" value="0.45"/>
		<param name="priorDyn" value="0.55"/>
		<param name="maxAngle" value="0.01"/>
		<param name="eps_a" value="0.1"/>
		<param name="eps_d" value="0.1"/>
		<param name="alpha" value="0.99"/>
		<param name="beta" value="0.90"/>
		<param name="maxDyn" value="0.90"/>
		<param name="maxDistNewPoint" value="0.7"/>
		<param name="sensorMaxRange" value="40.0"/>
	</node>

</launch>
